imageio==2.28.1
json5==0.9.10
jsonpointer==2.3
jsonschema==4.17.3
matplotlib==3.7.1
matplotlib-inline==0.1.6
networkx==3.1
numpy==1.24.3
pandas==2.0.1
python-json-logger==2.0.4
requests==2.28.1
statsmodels==0.14.0
watermark==2.3.1
waterworks==0.2.5
